body
  // background: #eee

.content,
.view-wrapper
  position: relative

.view-wrapper
  img
    max-width: 100%
    display: block
    margin: 1rem auto
  .qr-code
    box-shadow: 0 0 2px 2px rgba(0,0,0,.25)
    border-radius: .25rem

.row
  margin-top: 1em

.flexbox

  .main
    +display-flex
    +justify-content($justification: "center")
    +align-items($alignment: "center")
    min-height: 100vh
    margin: 1rem auto 2rem

  .content
    // @extend .well
    @extend .col-md-8
    float: none
    padding: 3rem 4rem 4rem
    // border: 1px solid #ddd
    background: #fff
    margin: 0 auto
    position: relative
    @media (max-width: $screen-md)
      padding: 3rem 2rem
    @media (max-width: $screen-sm)
      padding: 2rem 1rem
    @media (max-width: $screen-xs)
      padding: 1rem 0


h2
  margin-top: 22px
  margin-bottom: 22px

.signup-form
  input,
  .btn,
  .lrg
    @media (min-width: $screen-sm)
      font-weight: 300
      height: auto
      font-size: 150%

// .content
//   @media (min-width: $screen-sm)
//     font-weight: 300
//     height: auto
//     .btn,
//     input
//       font-size: 1em

.info-box
  margin-bottom: 1rem

.input-group-addon-select
  padding: 0
  select
    -webkit-appearance: none
    -moz-appearance: none
    background: transparent
    padding: 9px
    color: rgba(51, 51, 51, .65)
    border: 0
    position: relative
    // cursor: pointer
    cursor: context-menu
    &:not(:valid)
      background-color: $state-warning-bg
    &:valid
      background-color: $state-success-bg
    @media (min-width: $screen-sm)
      font-size: 150%
      padding: 11px

// .signup-progress-wrapper
//   position: absolute
//   width: 100%
//   left: 0
//   bottom: 0
//   .signup-progress-bar
//     +flex-progress-bar($todo-color: $gray-light, $done-color: $brand-success)
//     font-size: 2rem
//     margin-bottom: 0
//     @media (max-width: $screen-md)
//       font-size: 1.75rem
//     @media (max-width: $screen-sm)
//       font-size: 1.5rem
//     @media (max-width: $screen-xs)
//       font-size: 1.25rem
//     li,
//     li:before,
//     li:after
//       border-bottom: 1px solid rgba(51, 51, 51, .5)

.progress__indicator
  @extend .progress
.progress__bar
  @extend .progress-bar

.single-page-signup
  .main
    display: block
    min-height: 100vh
    margin: 0 auto 2rem
  .content
    // @extend .well
    @extend .col-md-8
    padding: 3rem 4rem 4rem
    // border: 1px solid #ddd
    background: #fff
    margin: 0 auto
    position: relative
    @media (max-width: $screen-md)
      padding: 3rem 2rem
    @media (max-width: $screen-sm)
      padding: 2rem 1rem
    @media (max-width: $screen-xs)
      padding: 1rem 0
  h1
    margin-top: 0

