// Come back and fix the over-specificity later.

.btn-group.btn-group-table
  @extend .btn-group-justified
  table-layout: initial

.btn.btn-wrap
  white-space: normal

.row.row--wide-spacing
  margin-top: 2rem
  margin-bottom: 2rem
