
<div id="androidApp" class="view-wrapper">
  <div class="container-fluid signup-form">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center text-weight-light">Tok3n for Android</h2>
        <ol class="lrg">
          <li>Open Google Play on your Android device.</li>
          <li>Search for <em>Tok3n</em>.</li>
          <li>Install and open the app.</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <button id="verifyAndroidButton" data-hash="#verifyPhone" role="button" class="btn btn-success btn-block btn-lg">Ok, Got It!</button>
      </div>
    </div>
  </div>
</div>