
<div id="iosApp" class="view-wrapper">
  <div class="container-fluid signup-form">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center text-weight-light">Mobile App</h2>
        <figure><img src="{{ site.baseurl }}img/tok3n-app-hidpi.png" class="img-half tok3n-app-icon"/></figure>
        <p class="lrg">
          To verify your account with the Tok3n mobile app, you'll need to download the app on an iOS or Android device. Search for <em>Tok3n</em> in the App Store (iOS) or Google Play Store (Android). Once you're ready, hit the button below and we'll display a unique barcode. Scan the barcode with the Tok3n app and you'll be ready to go!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <button id="verifyIosPhone" data-hash="#verifyPhone" role="button" class="btn btn-success btn-block btn-lg">Ok, Got It!</button>
      </div>
    </div>
  </div>
</div>