
<div id="signupHome" class="view-wrapper">
  <div class="container-fluid info-box">
    <h1 class="text-center text-weight-light">Sign Up Today</h1>
  </div>
  <form role="form" class="signup-form container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstNameInput" class="sr-only">First Name</label>
          <input id="firstNameInput" type="text" placeholder="First name" required="required" class="form-control"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastNameInput" class="sr-only">Last name</label>
          <input id="lastNameInput" type="text" placeholder="Last name" required="required" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="emailInput" class="sr-only">Email address</label>
          <input id="emailInput" type="email" placeholder="Email address" required="required" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <h3 class="text-center text-weight-light">Choose a verification option</h3>
          <div data-toggle="buttons" class="btn-group btn-group-justified authentication-mode-buttons">
            <label class="btn btn-default active">SMS Message
              <input type="radio" name="signupOptions" id="sendCode" value="sendCode" checked="checked"/>
            </label>
            <label class="btn btn-default">Mobile App
              <input type="radio" name="signupOptions" id="mobileAppRadio" value="mobileApp"/>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="text-center"> 
          <button id="sendCodeButton" data-hash="#sendCode" role="button" class="btn btn-success btn-lg btn-block">
            {% include html/button-inner.html text="Get Started" %}
          </button>
        </p>
      </div>
    </div>
  </form>
</div>