
<div id="verifyPhone" class="view-wrapper">
  <div class="container-fluid signup-form">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center text-weight-light">Link Your Device</h2>
        <figure class="tok3n-qr-code-fig">
          <img src="{{ site.baseurl }}img/qr-code.png" class="tok3n-qr-code"/>
          <figcaption>
            <p class="text-large text-center">Open the Tok3n mobile app on your device and scan the code above. This page will refresh automatically when your code is confirmed.</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Stuck? We can send you an <a href="#sendCode">SMS message</a> to verify your phone number.  </p>
      </div>
    </div>
  </div>
</div>