<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
        
        <!-- This stylesheet uses includes to pull everything together -->
        <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
        <script>
            {% include js/isMobile.min.js %}
        </script>
        <script src="{{ site.baseurl }}js/modernizr.js"></script>
        <script type="text/javascript" src="//use.typekit.net/kus5izm.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>

        {% include html/header.html %}

        <div class="single-page-signup">
            <section class="main container">
              <div class="content">
                
                {{ content }}
              
                {% include html/bootstrap-progress.html %}
              </div>
            </section>
        </div>

        <script src="{{ site.baseurl }}js/tok3n-signup.js"></script>
    </body>
</html>
